<h1>Import Products</h1>

<%= form_for form, as: :product_import, url: product_import_path do |f| %>
  <p>
    <%= f.label :csv_file %>
    <%= f.file_field :csv_file %>
  </p>
  <p>
    <%= f.submit t("product_imports.new.submit") %>
  </p>
<% end %>
